<%- include("partials/_header") %>
  <section>
    <h2>Contact</h2>
    <p>For any questions, contact Colin Nicholas Sng (colinnicholas.sng@gmail.com). Do not submit personal health information (PHI) to this demo.</p>
  </section>
<%- include("partials/_footer") %>
